{% extends "base.html" %}
{% load staticfiles %}

{% block title %}首页{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="http://127.0.0.1:8000/static/index.css">
	<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock css %}
{% block nav_home_active %}active{% endblock %}
{% block content%}

	<div class="mian">欢迎来到我的博客网站</div>
	<!-- 图表容器 DOM -->
    <div id="container" "></div>
    <!-- 今天24小时内的热门博客 -->
    <div class="hot_data">
    	<h3>今日热门点击</h3>
    <ul>
    	{% for hot_data in today_hot_data %}
    		<li><a href="{% url 'topic_detail' hot_data.content_object.pk %}">{{hot_data.content_object.title}}</a>({{hot_data.read_num}})
    		</li>
    	{% empty %}
    		<li>暂无</li>
    	{% endfor %}
    </ul>
    </div>

    <div class="hot_data">
    	<h3>昨日热门点击</h3>
    <ul>
    	{% for hot_data in yesterday_hot_data %}
    		<li><a href="{% url 'topic_detail' hot_data.content_object.pk %}">{{hot_data.content_object.title}}</a>({{hot_data.read_num}})
    		</li>
    	{% empty %}
    		<li>暂无</li>
    	{% endfor %}
    </ul>
    </div>

    <div class="hot_data">
    	<h3>7日热门点击</h3>
    <ul>
    	{% for hot_data in hot_data_for_7_days %}
    		<li><a href="{% url 'topic_detail' hot_data.id %}">{{hot_data.title}}</a>({{hot_data.read_num_sum}})
    		</li>
    	{% empty %}
    		<li>暂无</li>
    	{% endfor %}
    </ul>
    </div>

    <script>
	    // 图表配置
	    var options = {
	        chart: {type: 'line'},
	        title: {text: '阅读点击量'},
	        xAxis: {
	            categories: {{ dates|safe }},   // x 轴分类
	            tickmarkPlacement:'on',
	            title:{ text:'前七天阅读量'},
	        },
	        yAxis: {
	        	title: {text: null},
	            labels:{ enabled:false },
	            gridLineDashStyle:'Dash',
	        },
	        series: [{
	        	name: '阅读量',                        // 数据列名
	            data: {{ read_nums|safe }},                    // 数据
	        }],
	        legend:{enabled:false},
	        credits:{enabled:false},
	    };
	    // 图表初始化函数
	    var chart = Highcharts.chart('container', options);
    </script>
{% endblock content%}
